h1{
  font-size: 45px;
                font-weight: bolder;
                font-family: monospace;
                text-align: center;
        color: rgb(150,20,50);
}
img{
  width: 500px;
  height: 500px
}
