#Fra{
    color: blanchedalmond;
    text-align: center;
    background-color: cadetblue;
    
}
#p{
    color: rgb(115, 255, 0);
    background-color: blueviolet;
    text-align: center;

}
#JCT{
    color: aquamarine;
    background-color: brown;
    text-align: center;
}
