body{
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.h1{
    text-align: center;
    color: chartreuse;
}

img{
    width:1000px;
    height: 1500px;
}
