* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: #0400ff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(247, 10, 10);
  }
  

  section {
    display: -webkit-flex;
    display: flex;
  }
  
 
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ff0000;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
 
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #08ff67;
    padding: 10px;
  }
  

  footer {
    background-color: #ff00f2;
    padding: 10px;
    text-align: center;
    color: rgb(255, 251, 0);
  }
  
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
body{
    background-color: forestgreen;
}