.table{
    border: 2px solid red;
    color: rgb(174, 0, 255);
}

table{
    width: 100%;
}
body{
    background-color: rgb(210, 198, 30);
}
h1{
    text-align: center;
    color: rgb(255, 0, 0);
}
p{
    text-align: center;
    color: rgb(0, 253, 105);
}